In [1]:
import pandas as pd

In [2]:
melb_data = pd.read_csv("melb_data.csv")
# Reading the first five rows of the dataset
melb_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [ ]:
melb_data.describe().transpose()
# Discovered that: "count" - shows how many rows have non-missing values
# "mean" - is the average of the numerical data
# "std" - is the standard deviation of the numerical data
# min, 25%, 50%, 75%, max are the levels of percentile and the minimum and maximum values.

In [ ]:
# To views all columns in a dataset
melb_data.columns

In [ ]:
# dropna drops missing values (think of na as "not available")
melb_data_new = melb_data.dropna(axis = 0)

In [ ]:
melb_data_new.describe().transpose()

In [ ]:
# You can pull out a variable with dot-notation
y = melb_data_new.Price

In [ ]:
melb_features = ["Rooms", "Bathroom", "Landsize", "Lattitude", "Longtitude"]
X = melb_data_new[melb_features]

In [ ]:
X.describe()

In [ ]:
!git add .
!git commit -m "Kaggle ML Lessons"
!git push