In [1]:
import pandas as pd

In [2]:
melb_data = pd.read_csv("melb_data.csv")
# Reading the first five rows of the dataset
melb_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [3]:
melb_data.describe().transpose()
# Discovered that: "count" - shows how many rows have non-missing values
# "mean" - is the average of the numerical data
# "std" - is the standard deviation of the numerical data
# min, 25%, 50%, 75%, max are the levels of percentile and the minimum and maximum values.

,count,mean,std,min,25%,50%,75%,max
Rooms,13580.0,2.937997e+00,0.955748,1.00000,2.000000,3.000000,3.000000e+00,1.000000e+01
Price,13580.0,1.075684e+06,639310.724296,85000.00000,650000.000000,903000.000000,1.330000e+06,9.000000e+06
Distance,13580.0,1.013778e+01,5.868725,0.00000,6.100000,9.200000,1.300000e+01,4.810000e+01
Postcode,13580.0,3.105302e+03,90.676964,3000.00000,3044.000000,3084.000000,3.148000e+03,3.977000e+03
Bedroom2,13580.0,2.914728e+00,0.965921,0.00000,2.000000,3.000000,3.000000e+00,2.000000e+01
Bathroom,13580.0,1.534242e+00,0.691712,0.00000,1.000000,1.000000,2.000000e+00,8.000000e+00
Car,13518.0,1.610075e+00,0.962634,0.00000,1.000000,2.000000,2.000000e+00,1.000000e+01
Landsize,13580.0,5.584161e+02,3990.669241,0.00000,177.000000,440.000000,6.510000e+02,4.330140e+05
BuildingArea,7130.0,1.519676e+02,541.014538,0.00000,93.000000,126.000000,1.740000e+02,4.451500e+04
YearBuilt,8205.0,1.964684e+03,37.273762,1196.00000,1940.000000,1970.000000,1.999000e+03,2.018000e+03
Lattitude,13580.0,-3.780920e+01,0.079260,-38.18255,-37.856822,-37.802355,-3.775640e+01,-3.740853e+01
Longtitude,13580.0,1.449952e+02,0.103916,144.43181,144.929600,145.000100,1.450583e+02,1.455264e+02
Propertycount,13580.0,7.454417e+03,4378.581772,249.00000,4380.000000,6555.000000,1.033100e+04,2.165000e+04

In [4]:
# To views all columns in a dataset
melb_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [5]:
# dropna drops missing values (think of na as "not available")
melb_data_new = melb_data.dropna(axis = 0)

In [6]:
melb_data_new.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Rooms,6196.0,2.931407e+00,0.971079,1.00000,2.000000,3.00000,4.000000e+00,8.000000e+00
Price,6196.0,1.068828e+06,675156.427502,131000.00000,620000.000000,880000.00000,1.325000e+06,9.000000e+06
Distance,6196.0,9.751097e+00,5.612065,0.00000,5.900000,9.00000,1.240000e+01,4.740000e+01
Postcode,6196.0,3.101948e+03,86.421604,3000.00000,3044.000000,3081.00000,3.147000e+03,3.977000e+03
Bedroom2,6196.0,2.902034e+00,0.970055,0.00000,2.000000,3.00000,3.000000e+00,9.000000e+00
Bathroom,6196.0,1.576340e+00,0.711362,1.00000,1.000000,1.00000,2.000000e+00,8.000000e+00
Car,6196.0,1.573596e+00,0.929947,0.00000,1.000000,1.00000,2.000000e+00,1.000000e+01
Landsize,6196.0,4.710069e+02,897.449881,0.00000,152.000000,373.00000,6.280000e+02,3.700000e+04
BuildingArea,6196.0,1.415686e+02,90.834824,0.00000,91.000000,124.00000,1.700000e+02,3.112000e+03
YearBuilt,6196.0,1.964082e+03,38.105673,1196.00000,1940.000000,1970.00000,2.000000e+03,2.018000e+03
Lattitude,6196.0,-3.780790e+01,0.075850,-38.16492,-37.855438,-37.80225,-3.775820e+01,-3.745709e+01
Longtitude,6196.0,1.449902e+02,0.099165,144.54237,144.926198,144.99580,1.450527e+02,1.455264e+02
Propertycount,6196.0,7.435490e+03,4337.698917,389.00000,4383.750000,6567.00000,1.017500e+04,2.165000e+04

In [7]:
# You can pull out a variable with dot-notation
# The value of y is what we call the "Prediction Target" and we use dot-notation to select the column for that
y = melb_data_new.Price
y

1        1035000.0
2        1465000.0
4        1600000.0
6        1876000.0
7        1636000.0
           ...
12205     601000.0
12206    1050000.0
12207     385000.0
12209     560000.0
12212    2450000.0
Name: Price, Length: 6196, dtype: float64

In [8]:
melb_features = ["Rooms", "Bathroom", "Landsize", "Lattitude", "Longtitude"]
X = melb_data_new[melb_features]

In [9]:
X.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Rooms,6196.0,2.931407,0.971079,1.00000,2.000000,3.00000,4.0000,8.00000
Bathroom,6196.0,1.576340,0.711362,1.00000,1.000000,1.00000,2.0000,8.00000
Landsize,6196.0,471.006940,897.449881,0.00000,152.000000,373.00000,628.0000,37000.00000
Lattitude,6196.0,-37.807904,0.075850,-38.16492,-37.855438,-37.80225,-37.7582,-37.45709
Longtitude,6196.0,144.990201,0.099165,144.54237,144.926198,144.99580,145.0527,145.52635

In [10]:
X.head().transpose()

                   1         2         4         6         7
Rooms         2.0000    3.0000    4.0000    3.0000    2.0000
Bathroom      1.0000    2.0000    1.0000    2.0000    1.0000
Landsize    156.0000  134.0000  120.0000  245.0000  256.0000
Lattitude   -37.8079  -37.8093  -37.8072  -37.8024  -37.8060
Longtitude  144.9934  144.9944  144.9941  144.9993  144.9954

In [11]:
from sklearn.tree import DecisionTreeRegressor

In [12]:
melb_model = DecisionTreeRegressor(random_state=1)
melb_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [13]:
print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are")
print(melb_model.predict(X.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]

In [14]:
# With the MAE metric, we take the absolute value of each error. This converts each error to a positive number. 
# We then take the average of those absolute errors. This is our measure of model quality.
from sklearn.metrics import mean_absolute_error

In [15]:
# Assigning the prediction to a variable
predicted_melb_model = melb_model.predict(X)

In [16]:
# The Mean Absolute Error
mean_absolute_error(y, predicted_melb_model)

1115.7467183128902

In [18]:
# Since models' practical value come from making predictions on new data, we measure performance on data 
# that wasn't used to build the model. The most straightforward way to do this is to exclude some data from 
# the model-building process, and then use those to test the model's accuracy on data it hasn't seen before. 
# This data is called validation data.

In [19]:
# The scikit-learn library has a function train_test_split to break up the data into two pieces. 
# We'll use some of that data as training data to fit the model, and we'll use the other data as 
# validation data to calculate mean_absolute_error.
from sklearn.model_selection import train_test_split

In [20]:
train_X, test_X, train_y, test_y = train_test_split(X, y, random_state=101)

In [21]:
melb_model2 = DecisionTreeRegressor(random_state=101)
melb_model2.fit(train_X, train_y)

DecisionTreeRegressor(random_state=101)

In [22]:
test_prediction = melb_model2.predict(test_X)

In [24]:
print(mean_absolute_error(test_y, test_prediction))

243605.45706907683

In [17]:
!git add .
!git commit -m "Building a More Accurate Model with Train and Test"
!git push

warning: in the working copy of 'Kaggle_ML.ipynb', LF will be replaced by CRLF the next time Git touches it

[main 77dd4aa] Model Predictions
 1 file changed, 37 insertions(+), 5 deletions(-)

fatal: unable to access 'https://github.com/namelessace01/Introduction_to_ML.git/': Failed to connect to github.com port 443 after 22043 ms: Couldn't connect to server